.h2-editpost{

    font-size: 30px;
    text-align:center;
    margin-bottom: 5px;
    text-transform: uppercase;

}
.main-editpost{
    height: 70vh;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.form-section-edit{
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 15px;
}
.form-section-edit label{
    font-size: 17px;

}
.form-section-edit input,.form-section-edit textarea{
    width: 200px;
    height: 35px;
    border-radius: 10px;

}
.btn-form-edit{
    border: none;
    padding: 10px;
    background-color: rgb(58, 203, 222);
    color:white;
    border-radius: 10px;
    font-size: 15px;
    text-transform: capitalize;
    margin-top: 10px;
    margin-left: 20px;
    box-shadow: 1px  2px 3px 1px ;
    cursor: pointer;
    scale: 0.95;
    transition: all 0.2s ease;
    width: fit-content;
}